/* styles.css */  
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;  
}    
.container {
    text-align: left;  
}  
  
header {
    margin-bottom: 0px;  
}  
  
h1 {
    font-size: 36px;  
}  
  
p {
    font-size: 16px;
    margin: 5px 0 20px;  
}  
  
.cell {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;  
}  
  
.phone {
    width: 200px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    overflow: hidden;  
}  
  
.map {
    width: 100%;
    height: 80%;
    background-color: lightgray;
    position: relative;  
}  
  
.pin {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;  
}  
  
.pin:nth-child(1) { 
    top: 30%; 
    left: 20%; 
}  
.pin:nth-child(2) { 
    top: 50%; 
    left: 60%; 
}  
.pin:nth-child(3) { 
    top: 70%; 
    left: 40%; 
}  
.info {
    background-color: gray;
    color: black;
    text-align: center;
    padding: 10px;  
}   
.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;  
    
}  
  
button {
    background-color: white;
    color: rgb(7, 7, 7);
    border: 1px solid #e7e7e7; ;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}  
button:hover{
    background: #ddd; 
    color: rgb(7, 7, 7);
}
.indicadores {
    display: flex;
    justify-content: center;
    gap: 5px;  
}  
  
.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;  
}  
