<!DOCTYPE html>  
<html lang="es">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transporte Online</title>
    <link rel="stylesheet" href="/static/styles.css">  
</head>  
<body>
    <div class="container">
            <header>
                <h1>Transporte Online</h1>
                <p>Podrás ver a tiempo real las rutas de los buses con sus paradas a tiempo real</p>
            </header>
            <div class="cell">
                <div class="phone">
                    <div class="map">
                        <div class="pin"></div>
                        <div class="pin"></div>
                        <div class="pin"></div>
                    </div>
                    <div class="info">Información sobre las rutas de los buses</div>
                </div>
            </div>
        <div class="btns">
            <form action="iniciar-sesion" method="post">
                <button class="btn-inciar">Iniciar sesión</button>
            </form>
            <form action="/crear-cuenta" method="post">
                <button type="submit" class="btn-crear">Crear Cuenta</button>
            </form>
        </div>
        <div class="indicadores">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>  
</body>  
</html>  