<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/static/styles2.css">
</head>
<body>
  <div class="form-container">
    <h1>Login</h1>
    <p>Sign in to continue</p>
    <form>
      <label for="email">EMAIL</label>
      <input type="email" id="email" placeholder="example@app.com" required>
      
      <label for="password">PASSWORD</label>
      <input type="password" id="password" placeholder="******" required>
      
      <button type="submit">log in</button>
    </form>
  </div>
</body>
</html>
